@import "./_break-points.scss";
@import "./_variables.scss";

.Header {
  background-image: url(common/old-paper.jpg);
  background-size: cover;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.HeaderContainer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ServiceLogo {
  width: 300px;
  @include xs-device-or-less {
    width: 134px;
  }
}

.NavigationBar {
  display: flex;
  height: 115px;

  @include sm-device-or-less {
    height: 105px;
  }

  @include xs-device-or-less {
    height: 63px;
  }

  &__menus {
    align-items: center;
    display: flex;
    gap: 51px;
  }

  &__icons {
    align-items: center;
    display: flex;
    margin-left: 56px;
  }
}

.NavigationMenuList {
  display: flex;
  gap: 64px;
  word-break: keep-all;

  &__item {
    color: $text-black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    @include sm-device-or-less {
      display: none;
    }
  }
}

.NavigationIconList {
  align-items: center;
  display: flex;
  gap: 48px;

  @include xs-device-or-less {
    gap: 24px;
  }

  &__item {
    &--search {
      display: flex;
      flex-direction: row;

      &.open {
        ::before {
          @include sm-device-or-less {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.1);
            content: '';
            z-index: 0;
          }
        }

        .NavigationIconWrapper {
          display: none;

          @include sm-device-or-less {
            display: flex;
          }

          &__icon {
            &--closed {
              display: none;

              @include sm-device-or-less {
                display: block;
              }
            }
          }

          &__label {
            display: none;

            @include sm-device-or-less {
              display: block;
            }

            @include xs-device-or-less {
              display: none;
            }
          }
        }
      }
    }
  }
}
